{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "semi": ["error", "never"],
    "no-unexpected-multiline": "error",
    "arrow-parens": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-bind": "off"
  }
}
